.articles-section {
    height: 300px;
}
.articles {
    display: flex;
    justify-content: space-between;
}
.article-image {
    border: 1px solid #dcdcdc;
    margin-top: 30px;
    width: 329px;
    height: 225px;
}
.article-image-section {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 329px;
    height: 225px;
    margin-top: 25px;
    border: 1px solid #dcdcdc;
}
.article-image-section-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.bg-one {
    background-image: url("../images/box1_img.jpg");
}
.bg-two {
    background-image: url("../images/box2_img.jpg");
}
.article-image-section:hover .article-image-section-background {
    transform: scale(1.2);
}
// .article-image-section img {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     transition: 0.5s all;
// }
.article-image-section .article-image-text {
    font-size: 15px;
    position: absolute;
    top: 70px;
    padding: 5px 30px 0 30px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s all;
}
.article-image-section .article-image-description {
    position:absolute;
    padding:10px;
    left:0;
    top:120px;
    background: rgba(255,255,255,0.5);
    height:70px;
    width:100%;
    transition: 1s ease;
}
.article-image-section:hover .article-image-description {
    left:-200px;
    width: 0;
}
.article-image-text {
    padding: 15px;
}
.article-image-text p {
    font-size: 12px;
    font-weight: 400;
    color: #8b8b8b;
    margin-top: 10px;
}
.article-image-section:hover .article-image-text {
    opacity: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #21b9a2;
    font-size: 12px;
    font-weight: 400;
    color: white;
    padding: 30px;
}
