*, *::before, *::after {
    box-sizing:border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #222;
}
/*klasy globalne*/
.container {
    width: 1060px;
    margin: 0 auto;
}
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background: #21b9a2;
    color: white;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: 500;
    font-size: 16px;
}
h3 {
    padding: 15px 0;
    font-weight: 700;
    font-size: 12px;
}
.underline-title {
    position: relative;
}
h2.underline-title:before {
    content: "";
    display: block;
    position: absolute;
    top: 41px;
    left: 0;
    width: 33%;
    height: 10px;
    background: #21b9a2;
    /*transform: translate(-50%, 0);*/
}
h3.underline-title:before {
    content: "";
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
    width: 50%;
    height: 10px;
    background: #21b9a2;
}
